.root {
}

.root h2 {
  font-size: var(--font-size-6);
}

.root h3 {
  font-size: var(--font-size-4);
}

.container {
  composes: container from './base.module.css';
  text-align: center;
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
  justify-content: center;
}
