.root {
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.root p,
.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  margin: 0;
}

.container {
  composes: container from "./base.module.css";
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width-narrow);
}

.heading {
  font-size: var(--font-size-6);
  margin-bottom: var(--space-2);
}

.secondaryHeading {
  font-size: var(--font-size-4);
  color: var(--text-color-secondary);
}

.contentContainer p {
  margin-bottom: var(--space-3);
  font-size: var(--font-size-4);
}

.primaryText {
}

.asideText {
  font-style: italic;
  color: var(--text-color-secondary);
  padding: var(--space-4);
  border-radius: var(--border-radius);
  width: 80%;
  margin: auto;
}

.imageContainer {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}
