.divider {
  border: 0;
  border-top: 2px solid var(--text-color-secondary);
  /* margin: var(--space-2) auto; */
}

.short {
  width: 25%;
}
.half {
  width: 50%;
}
.long {
  width: 75%;
}

.full {
  width: 100%;
}
