.heading {
  font-size: var(--font-size-6);
  line-height: var(--line-height-heading);
  margin-bottom: var(--space-2);
}

.secondaryHeading {
  font-size: var(--font-size-4);
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-light);
  color: var(--text-color-secondary);
  margin-bottom: var(--space-2);
}
