.heading {
  font-size: var(--font-size-6);
  line-height: var(--line-height-heading);
  margin: 0;
  margin-bottom: var(--space-2);
}

.secondary {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-secondary);
}

.center {
  text-align: center;
}
