.root {
  /* this can be moved to an inner div to allow for full-bleed
   * background colors */
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.root p,
.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  margin: 0;
}

.root h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-6);
  margin-top: 0;
  margin-bottom: var(--space-4);
}

.root h2 {
  margin-top: 0;
  margin-bottom: var(--space-3);
  font-size: var(--font-size-3);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-caps);
}

.root p {
  margin-bottom: var(--space-4);
}

.container {
  composes: container from "./base.module.css";
  display: flex;
  gap: var(--space-3);
  flex-direction: column;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  gap: var(--space-3);
}

.button {
  border-radius: var(--border-radius);
  display: inline-block;
  padding: var(--space-2) var(--space-3);
  text-decoration: none;
  font-weight: 700;
}

.buttonPrimary:hover {
  background-color: var(--button-hover-color);
}

.buttonPrimary {
  composes: button;
  color: var(--button-color);
  background-color: var(--button-background-color);
}

.buttonSecondary:hover {
  background-color: var(--button-secondary-hover-color);
}

.buttonSecondary {
  composes: button;
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-background-color);
}

@media screen and (min-width: 640px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .content {
    width: 50%;
  }

  .image {
    width: 50%;
  }
}
