/* Base layout styles */
.root {
  font-family: var(--font);
  font-size: var(--font-size-3);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}

.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  font-family: var(--font-heading);
}

.section {
  padding-top: var(--space-1);
  padding-bottom: var(--space-5);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: var(--font-size-6);
  margin-bottom: var(--space-2);
}

.secondaryHeading {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-light);
  color: var(--text-color-secondary);
}

@media screen and (min-width: 640px) {
  .section {
    padding-top: var(--space-5);
  }
}
