.root {
  composes: section from "../styles/base.module.css";
}

.container {
  composes: container from "../styles/base.module.css";
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--max-width-narrow);
}
