.contentContainer p {
  margin-bottom: var(--space-3);
  font-size: var(--font-size-3);
}

.asideText {
  font-style: italic;
  color: var(--text-color-secondary);
  padding: var(--space-4);
  border-radius: var(--border-radius);
  width: 80%;
  margin: auto;
}

.imageContainer {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}

@media screen and (min-width: 640px) {
  .contentContainer p {
    margin-bottom: var(--space-3);
    font-size: var(--font-size-4);
  }

  .imageContainer {
    margin-top: var(--space-5);
    margin-bottom: var(--space-5);
  }
}
