.contentContainer {
  flex-direction: column;
  gap: var(--space-4);
}

.featureContainer {
  display: flex;
  flex-direction: column;
}

.copyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-4);
  order: 2;
}

.secondaryText {
  font-size: var(--font-size-3);
}

.primaryText {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.primaryText strong {
  color: var(--primary-color);
}

.imageContainer {
  display: flex;
  align-items: center;
}

.imageWrapper {
  box-shadow: var(--box-shadow-floating);
}

@media screen and (min-width: 640px) {
  .contentContainer {
    gap: var(--space-5);
  }
  .featureContainer {
    flex-direction: row;
  }

  .primaryText {
    margin-bottom: var(--space-3);
  }

  .copyContainer {
    width: 40%;
  }

  .imageContainer {
    width: 60%;
  }

  .featureReverse {
    flex-direction: row-reverse;
  }
}
